{
  "arrowParens": "always",
  "trailingComma": "es5",
  "semi": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "proseWrap": "always",
  "printWidth": 80
}
