/* TailwindCSS Directives */
@import 'tailwindcss';

/* Custom Base Styles */
@layer base {
  /* Global Reset & Root Variables */
  :root {
    background-color: #fff;
    font-family: ui-sans-serif, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  /* Dark Mode Adjustments */
  @media (prefers-color-scheme: dark) {
    :root {
      @apply bg-gray-900 text-gray-100;
      color-scheme: dark;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  /* Global Element Styles */
  body {
    @apply m-0 min-h-screen;
  }

  h1 {
    @apply text-4xl leading-tight font-bold;
  }

  h2 {
    @apply text-2xl leading-relaxed font-semibold;
  }

  h3 {
    @apply mb-2 text-xl leading-4 font-semibold;
  }

  a {
    @apply font-medium text-blue-600 no-underline hover:text-blue-800;
  }

  button {
    @apply mx-2 rounded border border-transparent bg-blue-700 px-4 py-2 font-medium text-white shadow-2xl drop-shadow-2xl transition-colors duration-200 hover:border-gray-500 hover:bg-blue-600 hover:brightness-100 focus:ring-4 focus:ring-blue-600 focus:outline-none;
  }
  input,
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'] {
    @apply m-1 w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-gray-900 shadow-sm transition-colors duration-700 focus:border-blue-600 focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-700 dark:bg-zinc-800 dark:text-gray-400 dark:focus:border-blue-400 dark:focus:ring-blue-300;
  }
}

/* Component Specific Styles */
@layer components {
  .card {
    @apply m-3 rounded-lg bg-slate-200 p-6 shadow-md drop-shadow-lg dark:bg-gray-800;
  }
}
